[user]
	name = iokira
	email = iam.iokiller@gmail.com

[init]
	defaultbranch = main

[alias]
	s = status
	a = add
	c = commit -m
	ac = commit -am
	p = push
	l = pull
	d = diff
	co = checkout
	cob = checkout -b
	b = branch -vv
	r = restore --staged
	cop = checkout @{-1}
	ds = diff --staged
